#register-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: auto;
    p {
        font-size: .8rem;
        color: red;
        padding: 0;
        margin: 0 auto;
    }
}